<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label for="username_account">Usename</label>
        <input id="username_account" type="text"/>
        <label for="password_account">Password</label>
        <input id="password_account" type="password"/>
        <label for="email_account">Email</label>
        <input id="email_account" type="email"/>
    </form>
</body>
</html>